.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart {
    font-size: 24px;
    color: #fff;
    background-color: transparent;
    border: none;
}

.counter {
position: absolute;
top: 1%;
right: 5%;
    border-radius: 50%;
    width: 20px;
    background-color: orangered;
    font-size: 14px;
    font-weight: bold;
    align-self: center;
    color: #333;
}

