@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

header{
    background-color: #333;
    height: 80px;
    margin: 0;
    align-items: baseline;
    font-size: 20px;
    font-family: 'MedievalSharp', cursive;
}
button{
    margin-right: 10px !important;
    box-shadow: 0px 0px 15px 2px #1d1d1d;
}
button:hover{
    box-shadow: 0px 0px 115px -8px rgb(255, 255, 255);
}